.top{
    width: 5%;
    height: 10vh;
    position: fixed;
    z-index: 1000;
    right: 1%;
    bottom: 1%;
}
.top button{
    position: absolute;
    
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}