.top{
    width: 5%;
    height: 10vh;
    position: fixed;
    right: 1%;
    bottom: 1%;
    z-index: 1000;
}
.top button{
    position: absolute;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}
@media  (max-width:992px) {.top{right: 5%;}}